/* Fuente de toda la página */
*{font-family: 'Roboto', sans-serif;}

/* Barra superior */
.barraSuperior{
    background-color: #222222;
    color: #F3F3F3;
}
/* listas Barra superior */
ul {list-style: none;}

/* Barra de menún ppal */
#barraMenuPpal{
    background-color:#F0A83E;
    color: #FFFFFF;
    ;
}
/* Banner */
.banner h1{
    text-align: center;
    color: #3C2313;
    ;}

.bannerTxtImg{   
    background-image: url("../img/FondoBanner.png");
    background-size: cover;
    color: #3C2313;
    height: 818px;
    text-align: center;}

.nombreProd{
    color:#3C2313;
    }

.precioProd{
    color:#F0A83E;
}
.cierre{
    background-color:#3C2313;
    color: #FFFFFF}

#derechos{
    background-color:#222222;
    color: #FFFFFF;
    text-align: center;
}
